*.psess
*.vsp
*.log
*.tlog
*.lastbuildstate
*.err
*.wrn
*.suo
*.sdf
*.VC.db
*.user
*.i
*.vspscc
*.opensdf
*.pch
*.ipch
*.cache
*.ilk
*.obj
*.iobj
*.aps
*.zip
/MyMfcSimpleD3D12Test1/.vs
/MyMfcSimpleD3D12Test1/ipch
/MyMfcSimpleD3D12Test1/Win32
/MyMfcSimpleD3D12Test1/x64
