*.psess
*.vsp
*.log
*.tlog
*.lastbuildstate
*.err
*.wrn
*.suo
*.sdf
*.VC.db
*.user
*.i
*.vspscc
*.opensdf
*.pch
*.ipch
*.cache
*.ilk
*.obj
*.iobj
*.aps
*.zip
/MyMfcSimpleD3D12Test1/.vs
/MyMfcSimpleD3D12Test1/ipch
/MyMfcSimpleD3D12Test1/Win32
/MyMfcSimpleD3D12Test1/x64
/MfcD3D11ParticleTest1/.vs
/MfcD3D11ParticleTest1/ipch
/MfcD3D11ParticleTest1/Win32
/MfcD3D11ParticleTest1/x64
/MfcD2DBmpTest1/.vs
/MfcD2DBmpTest1/ipch
/MfcD2DBmpTest1/Win32
/MfcD2DBmpTest1/x64
